@import url("https://fonts.googleapis.com/css2?family=Gayathri&family=Roboto&displayy=Amaranth&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #f4f9f4;
  text-align: center;
}

.freshbox-logo {
  width: 60px;
  height: 60px;
}

/* Hero Images */

.hero-image {
  background-image: url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero-boxes {
  background-image: url(../images/hero-boxes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero-order {
  background-image: url(../images/hero-order.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

.opaque-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.nav-item {
  color: #36a72b;
  font-size: 150%;
  padding: 20px 20px 0;
}

.hero-image-text-container {
  border-color: #f4f9f4;
  border-width: 5px;
  border-style: double;
  padding: 50px 10px 0;
  border-radius: 3rem;
  width: 450px;
  height: 275px;
}

.hero-image-title {
  font-size: 4em;
  color: #f4f9f4;
  text-align: center;
  font-family: "Gayathri", sans-serif;
}

.hero-image-text {
  font-size: 2.5em;
  color: #f4f9f4;
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.hero-text-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-logo {
  bottom: 0;
  right: 0;
  color: #76d46d;
  font-size: 120%;
}

.social-logo:hover {
  color: #36a72b;
}

p {
  line-height: 1.6;
}

hr {
  width: 50px;
  border-top: 8px dotted #36a72b;
}

.h2,
h2 {
  font-family: "Gayathri", sans-serif;
  font-size: 1.75rem;
}

.text-link {
  color: #36a72b;
}

.text-link:hover {
  color: #35a72b9a;
  text-decoration: none;
}

.main-content {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.content-icon {
  height: 100px;
  width: auto;
  padding-bottom: 15px;
}

.container {
  position: relative;
  padding: 50px 30px;
  width: 75%;
  text-align: center;
}

.box-image-container {
  position: relative;
  justify-content: center;
}

.box-images {
  position: relative;
  width: 100%;
  padding: 5px;
}

.border-radius {
  border-radius: 3rem;
}

.box-text {
  font-family: "Roboto", sans-serif;
  position: absolute;
  font-size: 1.75rem;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 1.25rem;
  font-family: "Gayathri", sans-serif;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  border-radius: 3rem;
}

.box-images:hover .overlay {
  visibility: visible;
}

.box-images:hover .box-text {
  visibility: hidden;
}

.overlay-text {
  padding: 5px 15px;
}

/* Customer Reviews */

.reviews {
  align-items: center;
}

.review-image {
  height: 250px;
  width: auto;
}

.review-text {
  padding: 10px;
}

/* Footer */

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #4caf50;
  color: #f4f9f4;
  font-size: 16px;
}

.footer-text {
  font-size: 16px;
  color: #f4f9f4;
  text-align: left;
}

.opening-info {
  text-align: left;
  width: 100%;
  height: auto;
}

.social-logo-footer {
  display: inline;
  position: inherit;
  padding-bottom: 10px;
  padding-right: 10px;
  color: #f4f9f4;
  font-size: 120%;
}

.social-logo-footer:hover {
  color: #f4f9f4a1;
}

.footer-link {
  color: rgba(255, 255, 255, 0.712);
}

.footer-link:hover {
  color: #f4f9f4;
  text-decoration: none;
}

.office-hours {
  list-style: none;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}
