@import url("https://fonts.googleapis.com/css2?family=Gayathri&family=Roboto&display=swap");

body {
  margin: 0;
  background-color: #f4f9f4;
  text-align: center;
}

.background-home-image {
  background-image: url(../images/background-home-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 75vh;
  position: relative;
}

.opaque-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.nav-item {
  color: #36a72b;
  font-size: 150%;
  padding: 20px 40px 0;
}

.hero-image-text-container {
  border-color: #f4f9f4;
  border-width: 5px;
  border-style: double;
  padding: 10px 10px 0;
}

.hero-image-title {
  font-size: 4em;
  color: #f4f9f4;
  text-align: center;
  font-family: Gayathri, sans-serif;
}

.hero-image-text {
  font-size: 2.5em;
  color: #f4f9f4;
  padding-top: 20px;
  font-family: Roboto, sans-serif;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-logos {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 10px;
  padding-right: 10px;
}

.social-logo {
  color: #36a72b;
  font-size: 120%;
}

hr {
  width: 50px;
  border-top: 8px dotted #36a72b;
}

h2 {
  font-family: Gayathri, sans-serif;
}
p {
  font-size: 20px;
  font-family: Roboto, sans-serif;
}

.container {
  padding: 50px 50px;
  width: 75%;
  text-align: center
}

.column {
  float: left;
  width: 25%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


.box-pic {
  display: inline;
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.box-text {
  transition: 0.5s ease;
  opacity: 0;
  position: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.box-images:hover .box-pic {
  opacity: 0.3;
}

.box-images:hover .box-text {
  opacity: 1;
}

.text {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
