@import url("https://fonts.googleapis.com/css2?family=Gayathri&family=Roboto&displayy=Amaranth&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

/*General pages styles */
body {
  margin: 0;
  padding: 0;
  background-color: #f4f9f4;
  text-align: center;
}

/* Hero Images */
.hero-image {
  background-image: url(../images/hero-index.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero-boxes {
  background-image: url(../images/hero-boxes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero-order {
  background-image: url(../images/hero-order.jpg);
  width: 100%;
  height: 100vh;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.opaque-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.hero-image-text-container {
  border-color: #f4f9f4;
  border-width: 5px;
  border-style: double;
  padding: 50px 10px 0 10px;
  border-radius: 3rem;
  width: 450px;
  height: 275px;
}

.hero-image-title {
  font-size: 4em;
  color: white;
  text-align: center;
  font-family: "Gayathri", sans-serif;
}

.hero-image-text {
  font-size: 2.5em;
  color: white;
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.hero-text-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* General Styles */
hr {
  width: 50px;
  border-top: 8px dotted #36a72b;
}

h2 {
  font-family: "Lora", sans-serif;
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.h5,
h5 {
  font-size: 1.25rem;
  padding-top: 10px;
}

.row {
  margin-left: 0;
}

.text-link {
  color: #36a72b;
}

.text-link:hover {
  color: #35a72b9a;
  text-decoration: none;
}

.main-content {
  line-height: 2rem;
  font-family: "Josefin Sans", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.content-icon {
  height: 100px;
  width: auto;
  padding-bottom: 15px;
}

.container {
  position: relative;
  padding: 30px 0;
  width: 75%;
  text-align: center;
}

.border-radius {
  border-radius: 3rem;
}

/* Nav Bar*/
header {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.freshbox-logo {
  height: 60px;
  width: auto;
}

.nav-item {
  text-align: center;
  padding-left: 20px;
}

.navbar {
  background-color: #f4f9f4;
  height: auto;
}

.social-logo {
  text-align: center;
  color: #76d46d;
  font-size: 1rem;
}

.social-logo:hover {
  color: #36a72b;
}

/*Boxes*/

.box-image-container {
  position: relative;
  justify-content: center;
  width: 100%;
  height: auto;
}

.box-images {
  position: relative;
}

.box-image {
  padding: 5px;
  position: relative;
}

.box-text {
  font-family: "Josefin Sans", sans-serif;
  position: absolute;
  font-size: 1.5rem;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-weight: bold;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 1.25rem;
  font-family: "Josefin Sans", sans-serif;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  padding: 0px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  border-radius: 3rem;
}

.box-images:hover .overlay {
  visibility: visible;
}

.box-images:hover .box-text {
  visibility: hidden;
}

.box-overlay-text {
  padding: 5px 15px;
}

.boxes-disclosure {
  font-size: 0.8rem;
}

.card {
  background-color: #f4f9f4;
  border: 0;
}

.more-info-button {
    margin-bottom: 25px;
}

.card-body {
    margin: 0 0 20px 0;
    padding: 0;
}

/* Customer Reviews */
.reviews {
  align-items: center;
  padding-bottom: 10px;
}

.review-text {
  font-family: "Lora", sans-serif;
}

.review-image {
  height: 250px;
  width: auto;
}

/*Order Form*/
.btn-primary {
  color: white;
  background-color: #4caf50;
  border-color: #2b9e2f;
}

.btn-primary:hover {
  background-color: #68b86b;
}

/* Form Row */
.order-form {
  position: absolute;
  width: 200px;
  height: 100px;
  border: 3px solid #73ad21;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-row {
  padding: 5px 0;
}

/* Footer */
footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #4caf50;
  color: #f4f9f4;
  font-size: 16px;
  background-position: center;
}

.footer-text {
  font-size: 16px;
  color: #f4f9f4;
  text-align: center;
}

.opening-info {
  text-align: left;
  width: 100%;
  height: auto;
}

.social-logo-footer {
  display: inline;
  position: inherit;
  padding-bottom: 10px;
  padding-right: 10px;
  color: #f4f9f4;
  font-size: 120%;
}

.social-logo-footer:hover {
  color: #f4f9f4a1;
}

.footer-link {
  color: rgba(255, 255, 255, 0.712);
}

.footer-link:hover {
  color: #f4f9f4;
  text-decoration: none;
}

.office-hours {
  list-style: none;
}

/* Freepik link */
.freepik {
  text-align: right;
}

/* Copywrite section */
.copywrite p {
  font-size: 14px;
  background-color: black;
  color: #f4f9f4;
  width: 100%;
  height: 50px;
  padding-top: 10px;
  padding-right: 10px;
  margin-bottom: 0;
  text-align: center;
}

.copywrite .css-validator {
  float: right;
}

/* Min Width @media */
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}
@media (min-width: 541px) {
  .more-info-button {
    display: none;
  }
  .card {
    display: none;
  }
}

/*Max Width @media */

@media (max-width: 992px) {
  .box-image {
    width: 250px;
    height: auto;
  }
}

@media (max-width: 620px) {
  .review-image {
    width: 200px;
    height: auto;
  }
}

@media (max-width: 480px) {
  .box-overlay-text {
    display: none;
  }
  .hero-image-text-container {
    width: 80%;
  }
  .hero-image-title {
    font-size: 3em;
    color: #f4f9f4;
    text-align: center;
    font-family: "Gayathri", sans-serif;
  }

  .hero-image-text {
    font-size: 1.75em;
    color: #f4f9f4;
    padding-top: 20px;
    font-family: "Roboto", sans-serif;
    text-align: center;
  }

  .overlay {
    display: none;
  }

  .copywrite .css-validator {
    float: none;
  }
  .copywrite p {
    height: 70px;
  }
}
